body{
  background-color:antiquewhite;
  width: 880px;
  height: 1000px;
  padding: 50px;
  border: 5px solid rgb(0, 0, 0);
  margin: 0;
}
ol{

  width: 800px;
  height: 700px;
  padding: 80px;
  border: 8px solid (0, 0, 0);
  margin: 0;
}
h1{
  text-align: center;
  font-size: 50px;
}

#list1{
  font-family: 'Times New Roman', Times, serif;
  font-size: 24px;
  color: red;
  padding: 40px;
  text-align: left;
}
.list2{
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  color: rgb(160, 117, 25);
}